#progressBar{
    margin: -200px 0 0 -300px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 600px;   /*横幅*/
    height: 50px;  /*縦幅*/
}

#progressBar .bar_close {
    opacity: 0;
    pointer-events: none;
}